<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @about_u.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @about_u.title %>
</p>

<p>
  <strong>Context:</strong>
  <%= @about_u.context %>
</p>

<%= link_to 'Edit', edit_about_u_path(@about_u) %> |
<%= link_to 'Back', about_us_path %>
